    <footer id="footer" class="mt-auto">
        <div class="container mt-0" id="contact">
            <div class="row justify-content-center">
            <%if(!isArtOrAuth){%>
            <section class="col-12 col-md-7"> 
                <h4>Get in touch</h4>
                <form action="/sendContactForm" method="POST" id="simple-contact-form" class="contact-form" >
                    <div class="form-row">
                        <div class="form-group col-6">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="form-group col-6">
                            <input class="form-control" type="email" name="email" id="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input class="form-control" type="subject" name="subject" id="subject" placeholder="Subject" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <textarea class="form-control pb-5"  name="message" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <input class="mt-2 btn btn-outline-light" type="submit" value="Submit" class="primary"/>
                </form>
            </section>
            <%}%>
            <%if(!isArtOrAuth){%>
            <section class='col-12 col-md-5'> 
                <h4>Follow me</h4>
                <div class="icons pt-1">
                    <a href="https://www.facebook.com/ebandfloww" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://www.instagram.com/ebandflowwart/" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram fa-2x px-1"></i></a>
                    <a href="#" target="_blank" rel="noreferrer noopener"><i class="fab fa-tiktok fa-2x"></i></a>
                </div>
                
                <p class="pt-2">Not a fan of forms? Email me at <a href="mailto:ebandfloww.art@gmail.com">ebandfloww.art@gmail.com</a>.</p>
                
            </section>
            <%} else {%>    
            <section class='col-5 text-center'> 
                <h4>Follow me</h4>
                <div class="icons pt-2">
                    <a href="https://www.facebook.com/ebandfloww" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://www.instagram.com/ebandflowwart/" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram fa-2x px-1"></i></a>
                    <a href="#" target="_blank" rel="noreferrer noopener"><i class="fab fa-tiktok fa-2x"></i></a>
                </div>
                
                <p class="pt-2">Email me at <a href="mailto:ebandfloww.art@gmail.com">ebandfloww.art@gmail.com</a>.</p>  
            </section>   
            <%}%>

            </div>
            <p class="copy m-0">&copy; Bobbi Henderson 2021</p>
        </div>
    </footer>

    <script src="/js/grab.js"></script>
    <script src="/js/changePic.js"></script>
    <script src="/js/toggleForm.js"></script>
    <script type="module" src="/js/main.js"></script>
    <%if (isArtOrAuth){%>
    <script src="/dist/bundle.js"></script>
    <%}%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.0/viewer.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>