<%- include('partials/header') -%>

<div class="jumbotron">

</div>


<h2 id="available">Available Art</h2>
<div class="container">
    <div class="row">

    </div>
</div>

<h2 id="sold">Sold Art</h2>

<div class="container">
    <div class="row">
        
    </div>
</div>

<%- include('partials/footer') -%>
