body {
    background-color: aqua;
}

a {
    color: gray;
}

a:hover {
    color: black;
}

#footer {
    background-color: rgb(137, 247, 110);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    padding-top: 1em;
}

.copy {
    text-align: center;
    color: gray;
    font-size: small;
}