html {
    height: 100%;
}

body {
    background-color: #59253A;
    color: white;
    text-align: center;
    height: 100%;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Yeseva One', cursive;
}

p {
    font-size: 17px;
}

nav {
    background-color: #2D4159;
}

a {
    color: gray;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a:hover {
    color: black;
}

.hidden {
    display: none;
}

.container {
    margin-top: 1.5em;
}

.jumbotron {
    background-image: url('/images/Eb&FlowwHeader.jpeg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    padding-top: 50%;
}

#artistImage {
    height: 400px;
}

.aboutContainer, .pieceContainer, .blogContainer1, .postContainer {
    background: linear-gradient(to top, #d8d0df 0%, whitesmoke 100%);
    background-color: whitesmoke;
    color: #78244c;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

.availArtContainer, .soldArtContainer, .contactContainer, .blogContainer2 {
    background: linear-gradient(to top, #78244c 0%, #895061 100%);
    border-radius: 10px;
}
.availArtContainer, .soldArtContainer {
    cursor: grab;
}

.availArtContainer > .row, .soldArtContainer > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.availArtContainer > .row > .col-xs-4, .soldArtContainer > .row > .col-xs-4  {
    display: inline-block;
    float: none;
}

.artImage { 
    height: 300px;
    width: auto;
    margin: 0;
}

.artHome {
    position: relative;
    border-radius: 10px;
}

.dblClickBanner {
    position: absolute;
    top: 2%; 
    left: 3%;
    background-color: #2D4159;
    width: 94%;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
}

.artHome:hover .dblClickBanner {
    visibility: visible;
    opacity: 1;
}

.artPhoto {
    height: 500px;
    width: auto;
    cursor: zoom-in;
    z-index: 1;
}

.scrollableArt {
    background-color: #2D4159;
    border-radius: 10px;
    height: 500px;
}

.arrowRight, .arrowLeft {
    height: 500px;
    line-height: 500px;
    color: white;
}

.arrowRight {
    cursor: e-resize;
}

.arrowLeft {
    cursor: w-resize;
}

.blogTitle {
    line-height: 100%;
}

.blogImg {
    height: 250px;
}

.blogBody, .aboutContainer {
    white-space: pre-line;
}

#footer {
    background-color: #2D4159;
    width: 100%; 
    padding-top: 1em;
    margin-top: auto;
    text-align: start;
}

.imgList {
    position: relative;
}

.deleteButton {
    bottom: 10px;
    left: 10px;
    position: absolute;
    color: white;
}

.copy {
    text-align: center;
    color: gray;
    font-size: small;
}

.image-wrapper {
    float: left;
    padding-right: 2em;
}

.aboutContainer > .row {
    margin-bottom: 2em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

@media screen and (max-width: 800px) {
    .jumbotron {
        height: 30em;
    }
    .image-wrapper {
        display: block;
        float: none;
        padding-right: 0;
    }

    .aboutContainer > .row {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .jumbotron {
        height: 20em;
    }

    .aboutContainer, .pieceContainer, .blogContainer1, .postContainer {
        width: 100%;
    }
    
    .availArtContainer, .soldArtContainer, .contactContainer, .blogContainer2 {
        width: 100%;
    }

    .artPhoto { 
        height: 300px;
    }
    
    .scrollableArt {
        height: 300px;
    }

    .arrowRight, .arrowLeft {
        height: 300px;
        line-height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .jumbotron {
        height: 16em;
    }

    .artPhoto { 
        height: 250px;
    }
    
    .scrollableArt {
        height: 250px;
    }

    .arrowRight, .arrowLeft {
        height: 250px;
        line-height: 250px;
    }
}