html {
    height: 100%;
}

body {
    background-color: #59253A;
    color: white;
    text-align: center;
    min-height: 100%;
}

nav {
    background-color: #2D4159;
}

a {
    color: gray;
}

a:hover {
    color: black;
}

.hidden {
    display: none;
}

.jumbotron {
    background-image: url('/images/Eb&FlowwHeader.jpeg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    padding-top: 50%;
}

.aboutContainer {
    background: linear-gradient(to top, #cac9c9 0%, whitesmoke 100%);
    background-color: whitesmoke;
    color: #78244c;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

.artContainer {
    background: linear-gradient(to top, #78244c 0%, #895061 100%);
    border-radius: 10px;
}

.artContainer > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.artContainer > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

.artImage { 
    height: 300px;
    width: auto;
}

.artPhoto {
    height: 500px;
    width: auto;
}

#footer {
    background-color: #2D4159;
    width: 100%; 
    padding-top: 1em;
    margin-top: auto;
    text-align: start;
}

.copy {
    text-align: center;
    color: gray;
    font-size: small;
}

@media screen and (max-width: 760px) {
    .jumbotron {
        height: 30em;
    }
}

@media screen and (max-width: 575px) {
    .jumbotron {
        height: 20em;
    }
}

@media screen and (max-width: 400px) {
    .jumbotron {
        height: 16em;
    }
}